<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-primary" (click)="startGame()">Start</button>
    <button class="btn btn-danger"(click)="stopGame()">Stop</button>
  </div>
  <div class="col-xs-2">
    <label>Time: {{tempo}}</label>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [even]="evenNumber"></app-even>
    </div>
    <div class="col-xs-6">
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [odd]="oddNumber"></app-odd>
    </div>
  </div>
</div>
